*
Modul4/microbes.csv
!.gitignore
!README.md
!Modul1/
!Modul2/analisis_data_timeseries.ipynb
!Modul2/TMA Depok 2023.xlsx
!Modul3/Customer_Segmentation.ipynb
!Modul3/customer_segmentation.csv
!Modul4/
!Modul4/Praktikum4.ipynb
!Modul4/app.py
!Modul4/telco_churn_sample.csv
!Modul4/random_forest_model.pkl
!Modul4/requirements.txt
!Modul5
!Modul5/praktikum5.ipynb
!Modul5/praktikum5.nb.html
!Modul5/praktikum5.Rmd
!Modul5/README.md
!Modul5/marina_complete.csv
!HandsOn
!HandsOn/Sistem Informasi Peringatan Dini Banjir/pages
!HandsOn/Sistem Informasi Peringatan Dini Banjir/home.py
!HandsOn/Sistem Informasi Peringatan Dini Banjir/utils.py
!HandsOn/Sistem Informasi Peringatan Dini Banjir/model64.h5
