myenv
TSA
Hands On/scrap_data.ipynb
Hands On/web.html
Modul 1
Modul 2/Taufik Satria Nugraha_Analisis Data Time Series.pdf
Modul 2/Taufik Satria Nugraha Analisis Data Time Series.pdf
Modul 2/raw.githubusercontent.com_alfanugraha_tsa-handson_master_churn-bigml-20.csv
Modul 2/Modul2Pert3.Rmd
Modul 2/Modul2Pert3.nb.html
Modul 2/Modul2Pert2.Rmd
Modul 2/Modul2Pert2.nb.html
Modul 2/Modul2Pert1.Rmd
Modul 2/Modul2Pert1.nb.html
Modul 2/Data latihan.xlsx