*
!.gitignore
!README.md
!HandsOn/
!Modul1/
!Modul2/analisis_data_timeseries.ipynb
!Modul2/TMA Depok 2023.xlsx
!Modul3/Customer_Segmentation.ipynb
!Modul3/customer_segmentation.csv
!Modul4/
!Modul4/microbes.csv
